<mat-card class="resume-home-card">
  <h2 class="resume-home-hello">{{ ResumeWords.HELLO }}</h2>
  <h1 class="resume-home-name">{{ ResumeWords.I_AM }} Ezequiel Mansilla</h1>
  <p class="resume-home-resume">{{ ResumeWords.RESUME }}</p>
</mat-card>
<mat-card class="resume-home-links">
  <a class="resume-home-icon" href="https://www.linkedin.com/in/ezequielmansilla" target="_">
    <app-icon faName="linkedin-square"></app-icon>
  </a>
  <a class="resume-home-icon" href="mailto:mezequielmansilla@gmail.com?Subject=[Web Resume]">
    <app-icon faName="envelope"></app-icon>
  </a>
  <a class="resume-home-icon" href="tel:+543513563330">
    <app-icon faName="phone-square"></app-icon>
  </a>
</mat-card>
