<div class="about">
  <mat-card class="about-card">
    <h1>{{ ResumeWords.ABOUT }}</h1>
    <h4>{{ ResumeWords.PROFILE }}</h4>
    <p [innerHTML]="ResumeWords.PROFILE_CONTENT"></p>
    <h4>{{ ResumeWords.CAREER_PATH }}</h4>
    <p [innerHTML]="ResumeWords.CAREER_PATH_CONTENT"></p>
    <h4>{{ ResumeWords.PERSONAL_STRENGTH }}</h4>
    <p [innerHTML]="ResumeWords.PERSONAL_STRENGTH_CONTENT"></p>
    <h4>{{ ResumeWords.PROFESSIONAL_SKILLS }}</h4>
    <p [innerHTML]="ResumeWords.PROFESSIONAL_SKILLS_CONTENT"></p>
  </mat-card>
</div>
